/* Header */
.headerPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between; /*espacio entre los elementos*/
}

.headerPrincipal-nav{
    display: flex;
}

/*Main*/
.contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link{
    display: flex;
    width: 23%;
}

.videoSobre .container{
    display: flex;
    justify-content: center;
}

.videoSobre-video {
    flex-grow: 2; /*aumenta el tamaño del objeto o sus espaciados*/
    flex-shrink: 2; /*achica el tamaño del objeto conforme al tamaño de la pantalla*/
  }
  
  .videoSobre-sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .videoSobre-sobre-list {
    flex-grow: 2;
  }

/* Footer */
.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contactoForm{
    width: 25%;
}

.rodapePrincipal-contactoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column; /*alinea en comlumna*/
    height: 250px;
    flex-wrap: wrap; /*quiebre de columnas poniendolos a los siguientes uno al lado del otro*/
}

