/* Header */

.headerPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between; /*espacio entre los elementos*/
}

.headerPrincipal-nav{
    display: flex;
}

/*Main*/
.contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link{
    display: flex;
    width: 23%;
}

/* Footer */
.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column; /*alinea en comlumna*/
    height: 250px;
    flex-wrap: wrap; /*quiebre de columnas poniendolos a los siguientes uno al lado del otro*/
}